<form id="supporters_search_form">
  <label for="first_name">First Name</label>
  <input type="text" id="first_name" name="first_name" value="<%= @first_name %>">

  <label for="last_name">Last Name</label>
  <input type="text" id="last_name" name="last_name" value="<%= @last_name %>">

  <label for="email">Email Address</label>
  <input type="text" id="email" name="email_address" value="<%= @email_address %>">

  <p>Use % as a wildcard that matches any sequence of characters. For example, an email like %gmail% matches any email address that contains gmail at any point.</p>

  <label for="page_name">Has Performed an Activity on Page Named</label>
  <input type="text" id="page_name" name="page_name" value="<%= @page_name %>">
  <button name="search"><p>Search</p></button>
</form>

<div class="hidden" id="supporters_search_prompt">
  <h3>Searching</h3>
  <div class="progressbar"></div>
</div>
