<div id="supporters">
  <table>
    <thead>
      <tr> <th>ID</th> <th>Name</th> <th>Email</th> <th>Is Member?</th> </tr>
    </thead>
    <tbody>
      <% @supporters.each do |supporter| %>
        <tr>
          <td><%= supporter[0] %></td>
          <td><%= (supporter[1] || '') + ' ' + (supporter[2] || '') %></td>
          <td><%= supporter[3] %></td>
          <td><%= supporter[4] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
