<div id="supporters_action_url" data-url="<%= action_admin_movement_supporters_path(@movement) %>"></div>
<div id="supporters_poll_url" data-url="<%= poll_admin_movement_supporters_path(@movement) %>"></div>
<div id="supporters_view_url" data-url="<%= view_admin_movement_supporters_path(@movement) %>"></div>
